<div class="container text-center mt-5 pt-4">
  <h1 class="mb-4">Smart Shift Planner</h1>

  <div class="p-4 bg-light rounded d-flex justify-content-center align-items-center text-center mx-auto" style="max-width: 500px; height: 150px;">
    <p class="mb-0">
      Smart Shift Plannerは<br>
      看護小規模多機能居宅介護施設のシフト作成を、<br>
      お手伝いするサービスです。
    </P>
  </div>
</div>
