<div class="container mt-5">
  <h1 class="text-primary">Smart Shift Planner</h1>

  <% if user_signed_in? %>
    <p>ログイン中：<%= current_user.name %> さん</p>
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
  <% end %>
</div>
