<div class="container mt-5">
  <h1 class="text-primary">Smart Shift Planner</h1>
  <p class="lead">Bootstrap が適用されています ✅</p>
  <button type="button" class="btn btn-primary">Primary</button>

  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path %>
  <% end %>
</div>
