<% toolbar = capture do %>
  <div class="d-flex align-items-center gap-2 mb-3">
    <%= link_to "戻る", new_shift_month_path, class:"btn btn-sm btn-light border" %>
  </div>
<% end %>

<% right_sidebar = capture do %>
  <%= render "shift_months/draft_sidebar", stats_rows: @stats_rows %>
<% end %>

<%= render "shift_months/frame", toolbar: toolbar, right_sidebar: right_sidebar do %>
  <%= render "shift_months/calendar",
             weeks: @weeks,
             shift_month: @shift_month,
             occupation_order: @occupation_order_with_alert,
             holiday_by_date: @holiday_by_date,
             day_enabled_by_date: @day_enabled_by_date,
             early_enabled_by_date: @early_enabled_by_date,
             late_enabled_by_date:  @late_enabled_by_date,
             night_enabled_by_date: @night_enabled_by_date,
             day_effective_by_date: @day_effective_by_date,
             required_by_date: @required_by_date,
             cell_partial: "shift_months/calendar_cells/show",
             saved: @saved,
             staff_by_id: @staff_by_id,
             alerts_by_date: @alerts_by_date,
             unassigned_display_staffs_by_date: @unassigned_display_staffs_by_date,
             holiday_requests_by_date: @holiday_requests_by_date,
             designations_by_date: @designations_by_date %>
<% end %>