<% staffs_index_active = current_page?(staffs_path) %>
<% staffs_new_active   = current_page?(new_staff_path) %>
<% weekday_req_active = current_page?(base_weekday_requirements_path) ||
                        current_page?(edit_base_weekday_requirements_path) %>

<div class="d-flex flex-column min-vh-100 p-3">

  <div class="mb-4">
    <div class="px-3 py-1 rounded fw-bold text-dark"
         style="background-color: #ffffff;">
      職員管理

      <div class="d-flex flex-column gap-2 mb-2 mt-2 align-items-start">
        <%= link_to "職員一覧",
                    staffs_path,
                    class: "btn btn-outline-secondary btn-sm text-start px-3 d-inline-block",
                    style: "border:1px solid #97cdf3; width:auto; " +
                          (staffs_index_active ? "background-color:#97cdf3; color:#fff;" : "background-color:#ffffff; color:#333;") %>

        <%= link_to "職員新規登録",
                    new_staff_path,
                    class: "btn btn-outline-secondary btn-sm text-start px-3 d-inline-block",
                    style: "border:1px solid #97cdf3; " +
                          (staffs_new_active ? "background-color:#97cdf3; color:#fff;" : "background-color:#ffffff; color:#333;") %>
      </div>
    </div>

    <div class="d-flex flex-column gap-2 mb-2 mt-2 px-2 align-items-start">
      <%= link_to "曜日別人員配置設定",
              base_weekday_requirements_path,
              class: "btn btn-outline-secondary btn-sm text-start px-2 d-inline-block",
              style: "border:1px solid #97cdf3;" +
                    (weekday_req_active ?
                    "background-color:#97cdf3; color:#fff;" :
                    "background-color:#ffffff; color:#333;") %>
      </div>
  </div>

  <div class="mt-2">
    <div class="d-flex justify-content-center">
      <%= link_to "シフト作成", new_shift_month_path, class: "btn fw-bold", style: "background-color:#7fd9d2; border-radius:8px; text-decoration:none; border:none;" %>
    </div>
  </div>
</div>